In [ ]:
def is_even(num):
  '''
  used to find out whether a number is even
  or odd , if even return even else
  return odd else pagal hai kya
  '''
  if type(num)==int:
    if num%2==0:
      return 'even'
    else:
      return 'odd'
  else:
    return 'pagal hai kya'

In [ ]:
for i in range(1,11):
  print(is_even(i))

odd
even
odd
even
odd
even
odd
even
odd
even

In [ ]:
is_even("Rahul gandhi")

'pagal hai kya'

In [ ]:
#"num" while creating a function is parameter but what we send while calling a function i in this case is argument....In games difficulty level is parameter and easy medium hard is argument

In [ ]:
#Brightness is parameter and range between 1 to 100 is argument

In [ ]:
#Default argument
def powerss(a,b):
  return a**b
powerss(2,2)

4

In [ ]:
powerss(2,3)

8

In [ ]:
powerss(2)
#this would give error as we have sent only 1 argument while 2 parameters are present in the function hence to remove the error we use default arguments as shown below

TypeError: ignored

In [ ]:
#Default arguments
def powerss1(a=1,b=1):
  return a**b
powerss1()
#as we can see here even if no arguments are passed we still won't get any error as a and b would then take default arguments a=1 and b=1
#here (a=1,b=1) is called arguments as we have passed in values

1

In [ ]:
powerss1(4)
#b is taken as 1 here by default

4

In [ ]:
powerss1(5,2)
#this is also positional argument

25

In [ ]:
powerss1(b=3,a=2)
#this is keyword argument in which we can specifically put in names of parameters and pass in values without caring about respective positions

8

In [ ]:
#*args and **kwargs are special python keywords that are used to pass varibale lengths of arguments to the function

In [ ]:
#*args allows us to pass a variable number of non-keyword arguments to a function
def mullu(*args):
  product=1
  print(args)
  for i in args:
    product=product*i
  return product
mullu(1,2,3,4,5,6,7,8,9)
#* stores the variable number of non-keyword arguments in to tuples and helps us to perform any kind of operation on it
#*args is used as parameter when we dont have any idea about the number of arguments that the user is going to send

(1, 2, 3, 4, 5, 6, 7, 8, 9)

362880

In [ ]:
is_even.__doc__#this is how we can get the document of functions

'\n  used to find out whether a number is even\n  or odd , if even return even else\n  return odd else pagal hai kya\n  '

In [ ]:
print.__doc__

"print(value, ..., sep=' ', end='\\n', file=sys.stdout, flush=False)\n\nPrints the values to a stream, or to sys.stdout by default.\nOptional keyword arguments:\nfile:  a file-like object (stream); defaults to the current sys.stdout.\nsep:   string inserted between values, default a space.\nend:   string appended after the last value, default a newline.\nflush: whether to forcibly flush the stream."

In [ ]:
#**kwargs allows us to pass any number of keyword arguments
#keyword arguments mean that they contain a key-value pair, like a python dictionary

In [ ]:
def display(**kwargs):
  for (key,value) in kwargs.items():
    print(key,"-->",value)
display(india="Sareya",srilanka="colombo",nepal="kathmandu")

india --> Sareya
srilanka --> colombo
nepal --> kathmandu

In [ ]:
#Order of argument matters (normal-->*args-->**kwargs)
#args and kwargs are only convention, you can use any name of your choice

In [ ]:
#The lifetime of a function is the time between the point it is called and it returns a value. The lifespan of the variables within function also lies between the time the function
#is called and it returns a value
#Global frame is that area in the memory where our program is getting executed
#Function works as independent block in your memory(exists between time you called it and value is returned only till then the function block exists after which the variables within
# also gets destroyed)
#A programme executes in a memory block but a function within the same programme runs in a seperate memory block(which temporarily exists and then gets destroyed)

In [ ]:
def is_even1(num):
  if num%2==0:
    print("even")
  else:
    print("odd")
print(is_even1(7))
#when return statement is not present then None is returned

odd
None

In [ ]:
#A lot of functions don't have a return statement for instance
l=[1,2,3,4]
print(l.append(5))

None

In [ ]:
def f(y):
  x=1
  x+=1
  print(x)
x=5
f(x)
print(x)
#x=1 inside function is withi in the local scope and after the function call is over the variables within the function and seperate block alloted to the function gets destroyed
#so x=2 doesnot get reflected outside the function. Hence while print(x) inside function prints 2 , print(x) in global scope would print 5

2
5

In [ ]:
def f(y):
  x+=1
x=5
f(x)
print(x)
#so as we can see from below if x is not present in the local scope, we search for it in the global scope, access it but if we want to change it it is not possible
#we can use global variables from within the local scope but we cannot change the global variables within the local scope

UnboundLocalError: ignored

In [ ]:
def f(y):
  print(x)
x=5
f(x)
print(x)

5
5

In [ ]:
def f(y):
  global x
  x+=1
x=5
f(x)
print(x)
#As you can see when you use global x within the function, you can change the variable having global scope within the local scope

6

In [ ]:
def f():
  def g():
    print("Inside function g ")
  print("Inside function f ")
f()
#when f() function is called then cursor gets to def f then to def g after which cursor immediately goes down to print function and prints "Inside function f"

Inside function f

In [ ]:
def f():
  def g():
    print("Inside function g ")
  g()
  print("Inside function f ")

f()
#cursor points at def f() then goes inside points at def g() then goes down straight way within same scope runs g() prints "Inside function g" then prints inside function f and out

Inside function g
Inside function f

In [ ]:
def f():
  def g():
    print("Inside function g ")
  print("Inside function f ")
g()
#as you can see, it is not possible to call the internal function from the main programme, the internal function can only be called from the outside function

NameError: ignored

In [ ]:
def f():
  def g():
    print("Inside function g ")
    f()
  g()
  print("Inside function f ")
f()
#this will lead to an infinite loop as f() function is called first, when def g() is encountered it straight away goes down where it meets g() now g() function is called, now
#inside function g gets printed and then f() is called which calls g() and the same process is then repeated

Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g
Inside function g

RecursionError: ignored

In [ ]:
def g(x):
  def h(x):
    x=x+1
    print("in h(x) x=",x)
  x=x+1
  print("in g(x) x=",x)
  h(x)
  return x
x=3
z=g(x)
print("in main programe scope x=",x)
print("in the main programme z=",z)
#when g(x) is called we go inside g(x) and as soon as def is encountered we go down straight to next element within scope at x=x+1 and print x which is 4 then h(x) is called
#x is passed here as argument and x is increased by x+1 and then printed 5, now the seperate memory bloack involving h(x) gets destroyed and lastly x of h(x) which is 4 is returned
#so value of z now becomes 4, and sepearate memory block corresponding to g(x) now gets destroyed , so when we print x in the main programme we still get 3 and z=4
#4,5,3,4

in g(x) x= 4
in h(x) x= 5
in main programe scope x= 3
in the main programme z= 4

In [ ]:
#Functions are first class citizens in python meaning that functions are treated as regular objects and can be manipulated in the same way as other datatypes, such as integers,
#strings or lists.
#Firstly you can assign function to variables just like you do with other data types.This allows you to use the variable as reference to the function and call it using that variable
#Assigning a function to a variable and using the variable as a reference to the function means you can store the function in a variable and can call function using variable name.
#when you assign function to a variable, you are not calling the function, instead you are creating reference to that function. The variable now points to function object and you can use
#it to call function just as you would use to call original function name
# Define a simple function
def greet(name):
    return f"Hello, {name}!"

# Assign the function to a variable
my_function = greet

# Use the variable to call the function
result = my_function("Alice")
print(result)  # Output: Hello, Alice!

Hello, Alice!

In [ ]:
# Decorator function
def my_decorator(original_function):
    def wrapper(*args, **kwargs):
        print("Something is happening before the function is called.")
        result = original_function(*args, **kwargs)
        print("Something is happening after the function is called.")
        return result
    return wrapper

# Function with decorator
@my_decorator
def say_hello(name):
    print(f"Hello, {name}!")

# Calling the decorated function
say_hello("Alice")

Something is happening before the function is called.
Hello, Alice!
Something is happening after the function is called.

In [ ]:
#Similarly function can also be used as arguments to other functions
def square(x):
  return x**2
def my_func(func,x):
  return func(x)
dhodho=my_func(square,3)
print(dhodho)

9

In [ ]:
#Function can also be the return value of another function
def onefactor(x):
  def factor2(y):
    return x*y
  return factor2
amu=onefactor(3)
amu1=amu(2)
print(amu1)

6

In [ ]:
#functions can also be held as elements of data structures(list,set,dictionaries,tuples)
def square(x):
  return x**2
def onefactor(x):
  def factor2(y):
    return x*y
  return factor2
double=onefactor(2)
amu=double(3)
list1=[square,double]
print(list1[0](3))

9

In [ ]:
def square(num):
  return num**2
type(square)

function

In [ ]:
a=square(3)
type(a)

int

In [ ]:
a=square
type(a)

function

In [ ]:
id(a)

134169129971008

In [ ]:
id(square)#so doing id=square transfers actual location of function to variable a

134169129971008

In [ ]:
def square(x):
  return x**2
a=square
print(a(3))

9

In [ ]:
a=2
b=a
print(b)
#As you can see here function is behaving exactly like a datatype

2

In [ ]:
#deletion of a function
del square

In [ ]:
square(3)
#square function has been deleted as you can see

NameError: ignored

In [ ]:
def square(x):
  return x**2
a11=[1,2,square]
print(a11[2](3))
#storing function in different datatypes

9

In [ ]:
a11[-1](3)

9

In [ ]:
del square

In [ ]:
a12=[1,2,square]
print(a12[2](3))

NameError: ignored

In [ ]:
def square(x):
  return x**2
#sets cannot store duplicates,sets can only store immutable datatypes,sets themselves are immutable

In [ ]:
s={square}
s
#As you can see here, set is able to store square function.Hence function is immutable

{<function __main__.square(x)>}

In [ ]:
#function returning another function
def f():
  def x(a,b):
    return a+b
  return x
value=f()(3,4)
print(value)
#function f() returns x which is a reference of function x(a,b), hence we are able to execute x(a,b) from outside, trying to execute x(a,b) directly would have given error

7

In [ ]:
def f():
  def x(a,b):
    return a+b
  return x
value1=x(a,b)
print(value1)
#as we can see here trying to execute directly would give error as we don't have any reference to function x(a,b) that we are trying to execute

NameError: ignored

In [ ]:
#Sending function as an argument to other function
def a():
  print("Inside functtion a ")
def c(z):
  print("Inside function c ")
  return z()
print(c(a))
#So function can be sent as arguments,returned by other functions, stored in variables,deleted,stored in datatypes(list,set,tuples)

Inside function c
Inside functtion a
None

In [ ]:
#Code modularity refers to the practise of breaking down program into smaller independent and self-contained modules or functions. Each function in python should perform
#specific task or operation, making the code easier to understand, changes or updates to one function doesnot affect the other.
#Code Readability refers to how easier it is to understand the code.
#Code Reusability refers to the ability of using existing code at multiple plcaes or in different programs altogether.
#Function has all the above properties.

In [ ]:
#Lambda function is a anonymous function that can take any number of arguments but can return only 1 expression
#lambda x,y:x+y
#For instance
a=lambda x:x**2
print(a(4))

16

In [ ]:
a=lambda x,y:x+y
print(a(4,10))

14

In [ ]:
#Difference between lambda function and normal functions
#Lambda functions are anonymous(have no names)
#Lambda functions have no return value(infact returns a function)
#Lmbda is written in one line
#They are not reusable

In [ ]:
lambda x:x**3
#as u can see return value of lambda function is the same function

In [ ]:
#using lambda function to check if a string has 'a'
a11=lambda x:'a' in x
print(a11("mahendra"))

True

In [ ]:
#Odd or even
a12=lambda a:a%2==0
c=a12()

In [ ]:
#Odd or even
a14=lambda a:"even" if a%2==0 else "odd"
a14(6)
#:"even" if a%2==0 else "odd" is how we can use if and else clause in lambda as well

'even'

In [ ]:
#Lambda functions are used while handling HOF(higher order functions)
#HOF higher order functions are those functions which either return a function or take a function as input for example
def square(x):
  return x**2
def transform(f,l):
  output=[]
  for i in l:
    output.append(f(i))
  print(output)
l=[1,2,3,4,5]
print(transform(square,l))

[1, 4, 9, 16, 25]
None

In [ ]:
#We can also shorten this by using lamda functions as shown below
def transform(f,l):
  output=[]
  for i in l:
    output.append(f(i))
  print(output)
l=[1,2,3,4,5]
print(transform(lambda x:x**3,l))

[1, 8, 27, 64, 125]
None

In [ ]:
#Map function
#map(function,iterable)
list(map(lambda x:x**2,[1,2,3,4,5]))

[1, 4, 9, 16, 25]

In [ ]:
#labeling all numbers in the list odd or even
list(map(lambda c:"even" if c%2==0 else "odd",[1,2,3,4,5,6,7,8,9,10]))

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [ ]:
#extract names from list of dicts
users=[{
    "name":"dhwani",
    "age":25,
    "gender":"male"
},{
    "name":"Mohan",
    "age":28,
    "gender":"male"
},{
    "name":"Sohan",
    "age":30,
    "gender":"male"
}]
list(map(lambda u:u["name"],users))

['dhwani', 'Mohan', 'Sohan']

In [ ]:
list(filter(lambda x:x>5,[3,4,5,6,7]))

[6, 7]

In [ ]:
list(filter(lambda a:a.startswith('a'),['apple','guava','banana']))

['apple']

In [ ]:
"apple".startswith('a')

True

In [ ]:
import functools
functools.reduce(lambda x,y:x+y,[1,2,3,4,5])

15

In [ ]:
import functools
functools.reduce(lambda x,y:x if x<y else y,[23,11,45,10,1])

1

In [ ]:
import functools
functools.reduce(lambda x,y:x if x>y else y,[23,11,45,10,1])

45

In [ ]:
#map,filter and reduce are higher order functions

In [ ]:
#Q1
a11=[1,2,3,3,3,3,4,5]
def uniquer(l):
  return list(set(l))
uniquer(a11)

[1, 2, 3, 4, 5]

In [ ]:
# Q2
# Problem-2: Write a Python function that accepts a hyphen-separated sequence of words as parameter and returns the words in a hyphen-separated sequence after sorting them alphabetically.
cfd="green-red-yellow-black-white"
def premam(cl):
  return "-".join(sorted(cfd.split("-")))
premam(cfd)

'black-green-red-white-yellow'

In [ ]:
#Q3
#Problem 3: Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.
shammy='CampusX is an Online Mentorship Program fOr EnginEering studentS.'
def largesmall(mds):
  l=0
  s=0
  for i in mds:
    if i.islower():
      s+=1
    elif i.isupper():
      l+=1
  return f'''Number of lower elements is {s} Number of large elements {l}'''
largesmall(shammy)

'Number of lower elements is 47 Number of large elements 9'

In [ ]:
"c".islower()

True

In [ ]:
"C".isupper()

True

In [ ]:
# Q4
# Problem 4: Write a Python program to print the even numbers from a given list.
a14=[1, 2, 3, 4, 5, 6, 7, 8, 9]
def fmv(l):
  return [i for i in l if i%2==0]
fmv(a14)

[2, 4, 6, 8]

In [ ]:
# Q5
# Write a Python function to check whether a number is perfect or not.
def fmn(l):
  l1=[1]
  for i in range(2,l+1):
    if l%i==0:
      l1.append(i)
  return sum(l1)/2==l
fmn(4)

False

In [ ]:
sum([1,2,3])

6

In [ ]:
# Q6
# Write a Python function to concatenate any no of dictionaries to create a new one.
def adder(*args):
  c1={}
  for i in args:
    c1.update(i)
  return c1
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
adder(dic1,dic2,dic3)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
c1={1:10,2:20}
c2={3:30,4:40}
c1.update(c2)
c1

{1: 10, 2: 20, 3: 30, 4: 40}

In [ ]:
#Q7
# Write a python function that accepts a string as input and returns the word with most occurence.
str1="hello how are you i am fine thank you"
def cntr(c):
  dc={}
  for i in str1.split():
    if i in dc:
      dc[i]+=1
    else:
      dc[i]=1
  c1=[{a:dc[a]} for a in dc if dc[a]==max(dc.values())]
  c12=f"{list(c1[0].keys())[0]}->{list(c1[0].values())[0]}"
  return c12
cntr(str1)

'you->2'

In [ ]:
#Q8
#No idea
#Write a python function that receives a list of integers and prints out a histogram of bin size 10
a11=[13,42,15,37,22,39,41,50]
def binbin(c):
  k={}

In [ ]:
#Q9
#Write a python function that accepts a list of 2D co-ordinates and a query point, and then finds the the co-ordinate which is closest in terms of distance from the query point.
lc=[(1,1),(2,2),(3,3),(4,4)]
qp=(0,0)
def minmin(q,l):
  l1=[]
  for i in q:
    c1=((i[0]-l[0])**2+(i[1]-l[1])**2)**0.5
    l1.append(c1)
  c2=l1.index(min(l1))
  return f"Nearest to point {qp} is {lc[c2]}"
minmin(lc,qp)

'Nearest to point (0, 0) is (1, 1)'

In [ ]:
lc=[1,2,3,4]
lc.index(4)
lc.index(min(lc))

0

In [ ]:
#Q10
str1="John likes to watch movies. Mary likes movies too. Mary also likes to watch football games."
def bow(s):
  s3=s.replace(".","")
  l=s3.split()
  k={}
  for i in l:
    if i in k:
      k[i]+=1
    else:
      k[i]=1
  return k
bow(str1)

{'John': 1,
 'likes': 3,
 'to': 2,
 'watch': 2,
 'movies': 2,
 'Mary': 2,
 'too': 1,
 'also': 1,
 'football': 1,
 'games': 1}

In [ ]:
s="kaha ho. Binit maurya"
s1=s.replace(".","")
print(s1)

kaha ho Binit maurya

In [ ]:
# Q11
# Write a Python program to add three given lists using Python map and lambda.
#no idea
list(map(lambda x:))

In [ ]:
# Q12
# Write a Python program to create a list containing the power of said number in bases raised to the corresponding number in the index using Python map.
def func(x):
  l1=[]
  print(x)
  for i in x:
    l1.append(i**x.index(i))
  return l1
c=[1,2,3,4,5]
d=map(func,c)
print(list(d))

1

TypeError: ignored

In [ ]:
# Define a function to square a number
def square(x):
    return x ** 2

# Input list of numbers
numbers = [1, 2, 3, 4, 5]

# Using map() to square each number in the list
squared_numbers = map(square, numbers)

# Convert the result to a list (optional, as map() returns an iterator in Python 3)
squared_numbers_list = list(squared_numbers)

# Print the squared numbers
print(squared_numbers_list)  # Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [ ]:
#Q12
c=[1,2,3,4,5]
d=map(lambda i:i**c.index(i),c)
print(list(d))

[1, 2, 9, 64, 625]

In [ ]:
# Q13
# Using filter() and list() functions and .lower() method filter all the vowels in a given string.
c="Who is mahendra singh dhoni? The only athlete in the world who is a qualified para-TROOPER"
list(filter(lambda x:x.lower() in ('a','e','i','o','u'),c))

['o',
 'i',
 'a',
 'e',
 'a',
 'i',
 'o',
 'i',
 'e',
 'o',
 'a',
 'e',
 'e',
 'i',
 'e',
 'o',
 'o',
 'i',
 'a',
 'u',
 'a',
 'i',
 'i',
 'e',
 'a',
 'a',
 'O',
 'O',
 'E']

In [ ]:
# Q14
# Use reduce to convert a 2D list to 1D
import functools
list(functools.reduce(lambda x,y:x+y,[[1,2,3],[4,5,6]]))

[1, 2, 3, 4, 5, 6]

In [ ]:
# Q15
#
employees = [
    {
        'fname':'Nitish',
        'lname':'Singh',
        'age' : 33,
        'grade':'skilled'
    },
    {
        'fname':'Ankit',
        'lname':'Verma',
        'age' : 34,
        'grade':'semi-skilled'
    },
    {
        'fname':'Neha',
        'lname':'Singh',
        'age' : 35,
        'grade':'highly-skilled'
    },
    {
        'fname':'Anurag',
        'lname':'Kumar',
        'age' : 30,
        'grade':'skilled'
    },
    {
        'fname':'Abhinav',
        'lname':'Sharma',
        'age' : 37,
        'grade':'highly-skilled'
    }

]
list(filter(lambda x:x['grade']=='highly-skilled',employees))

[{'fname': 'Neha', 'lname': 'Singh', 'age': 35, 'grade': 'highly-skilled'},
 {'fname': 'Abhinav', 'lname': 'Sharma', 'age': 37, 'grade': 'highly-skilled'}]

In [ ]:
import functools
list(map(lambda x:x['fname']+' '+x['lname'],list(filter(lambda x:x['grade']=='highly-skilled',employees))))

['Neha Singh', 'Abhinav Sharma']

In [ ]:
#Q1
l1=[1,2,3,3,3,3,4,5]
def unno(l):
  l12=[]
  for i in l:
    if i not in l12:
      l12.append(i)
  return l12
unno(l1)

[1, 2, 3, 4, 5]

In [ ]:
#Q2
str1="green-red-yellow-black-white"
def sml(str):
  tmp=[]
  for i in sorted(str.split("-")):
    tmp.append(i)
  return "-".join(tmp)
sml(str1)

'black-green-red-white-yellow'

In [ ]:
# Q3
def lower_upper(s):
  low_count=0
  upper_count=0
  for i in s:
    if i.islower():
      low_count+=1
    elif i.isupper():
      upper_count+=1
  return low_count,upper_count
sm1='CampusX is an Online Mentorship Program fOr EnginEering studentS.'
x,y=lower_upper(sm1)
print("The number of small letter words are ",x)
print("The number of big letter words are ",y)

The number of small letter words are  47
The number of big letter words are  9

In [ ]:
#Q4
sm=[1, 2, 3, 4, 5, 6, 7, 8, 9]
list(filter(lambda x:x%2==0,sm))

[2, 4, 6, 8]

In [ ]:
#Q5
def ps(s):
  sum=0
  for i in range(1,s):
    if s%i==0:
      sum+=i
  return sum==s
ps(812)

False

In [ ]:
#Q6
def addum(*kwargs):
  d={}
  for i in kwargs:
    d.update(i)
  return d
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
addum(dic1,dic2,dic3)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
#Q7
def men(k):
  d={}
  for i in k.split():
    if i in d:
      d[i]+=1
    else:
      d[i]=1
  c11=[i for i in d if d[i]==max(d.values())]
  c12=[d[i] for i in d if d[i]==max(d.values())]
  return f"{c11[0]}->{c12[0]}"

d1="hello how are you i am fine thank you"
men(d1)

'you->2'

In [ ]:
#Q8
import math
c3=[13,42,15,37,22,39,41,50]
def binner(s):
  min_bin=math.floor(min(s)/10)*10
  max_bin=math.ceil(max(s)/10)*10
  print(min_bin)
  print(max_bin)
  d={}
  for i in range(min_bin,max_bin,10):
    count=0
    for j in s:
      if i<=j<=i+10:
        count+=1
    d[str(i)+"-"+str(i+10)]=count
  return d
binner(c3)

10
50

{'10-20': 2, '20-30': 1, '30-40': 2, '40-50': 3}

In [ ]:
import math
c1=[13,42,15,37,22,39,41,50]
def binbin(s):
  min_bin=math.floor(min(s)/10)*10
  max_bin=math.ceil(max(s)/10)*10
  d={}
  for i in range(min_bin,max_bin,10):
    count=0#after end of every j loop count is equated with zero
    for j in s:
      if i<=j<=i+10:
        count+=1
    d[str(i)+"-"+str(i+10)]=count#this is executed after end of every j loop
  return d
binbin(c1)
#when i is in between range of min to max then count will be 0 and then we enter next loop, so when j is in s and if j is between i and i+10 the count is incremented
#again j goes to the next position and if j is between i and i+10 then count is incremented...this process is continued till we reach end of list s, after which i is incremented by 10
#but after we reach the end of s list, a new key is added to d dictionary which is equated to count

{'10-20': 2, '20-30': 1, '30-40': 2, '40-50': 3}

In [ ]:
math.ceil(7.1)
math.ceil(7)

7

In [ ]:
math.ceil(7.1)

8

In [ ]:
math.floor(6.9)

6

In [ ]:
# Q9

l1=[(1,1),(2,2),(3,3),(4,4)]
q1=(0,0)
def shorter(l1,q1):
  l2=[]
  for i in l1:
    c1=((i[0]-q1[0])**2+(i[1]-q1[1])**2)**0.5
    l2.append(c1)
  return (l1[(sorted(list(enumerate(l2)),key=lambda x:x[1])[0][0])])
shorter(l1,q1)

(1, 1)

In [ ]:
#Q10
L=[
    'cat mat rat cat',
    'sat bat fat cat rat',
    'pat cat mat rat'
]
def bow(s):
  d1=set()
  for i in s:
    d1.update(i.split())
  print(d1)
  venn=[]
  for i in s:
    venn.append([])
    for k in d1:
      venn[-1].append(i.count(k))
  return venn
bow(L)
#

{'cat', 'rat', 'fat', 'pat', 'bat', 'mat', 'sat'}

[[2, 1, 0, 0, 0, 1, 0], [1, 1, 1, 0, 1, 0, 1], [1, 1, 0, 1, 0, 1, 0]]

In [ ]:
s="dhoni bhaiya is a great warrior dhoni is a hero"
s.count("dhoni")

2

In [ ]:
d=set()
d.update("dhoni")
print(d)

{'d', 'i', 'o', 'n', 'h'}

In [ ]:
d.update("moni")
print(d)

{'d', 'i', 'm', 'o', 'n', 'h'}

In [ ]:
d.update(["dhoni"])
print(d)

{'d', 'dhoni', 'i', 'm', 'o', 'n', 'h'}

In [ ]:
d.update(["dhoni","moni"])
print(d)
#set.update(iterable)

{'d', 'dhoni', 'i', 'moni', 'm', 'o', 'n', 'h'}

In [ ]:
# Q10
L=[
    'cat mat rat cat',
    'sat bat fat cat rat',
    'pat cat mat rat'
]
def bow(s):
  d1=set()
  for i in s:
    d1.update(i.split())
  print(d1)
  venn=[]
  for i in s:
    venn.append([])
    for k in d1:
      venn[-1].append(i.count(k))
  return venn
bow(L)
#sets are mutable but don't take duplicates, tuples are immutable,sets contain only immutable items
#sets are immutable,sets don't take duplicates and sets contain only immutable items

{'cat', 'rat', 'fat', 'pat', 'bat', 'mat', 'sat'}

[[2, 1, 0, 0, 0, 1, 0], [1, 1, 1, 0, 1, 0, 1], [1, 1, 0, 1, 0, 1, 0]]

In [ ]:
d1={[1,2,3],4,'aman'}
print(d1)

TypeError: ignored

In [ ]:
#Q11
l1=[1,2,3]
l2=[4,5,6]
l3=[7,8,9]
list(map(lambda x,y,z:x+y+z,l1,l2,l3))
#This is how 3 different lists can be included in lambda function of python....
#using this lambda function we can deal with each element of three lists l1,l2 and l3 one at a time

[12, 15, 18]

In [ ]:
#Q12
list1 = [1,2,3,4,5,6]
list(map(lambda x,y:x**y,list1,range(len(list1))))
#we have two iterables here , first being the list and second being the range, and we can do operations with both the iterables simultaneously

[1, 2, 9, 64, 625, 7776]

In [ ]:
c="FIFA world cup in 2022 will take place in Qatar"
list(filter(lambda x:x.lower() in ('a','e','i','o','u'),c))

['I', 'A', 'o', 'u', 'i', 'i', 'a', 'e', 'a', 'e', 'i', 'a', 'a']

In [ ]:
#Another way of doing q-13
list(filter(lambda x:True if x.lower() in "aeiou" else False,c))

['I', 'A', 'o', 'u', 'i', 'i', 'a', 'e', 'a', 'e', 'i', 'a', 'a']

In [ ]:
#Q14
import functools
list1=[[1,2,3],[4,5,6]]
list(functools.reduce(lambda x,y:x+y,list1))

[1, 2, 3, 4, 5, 6]

In [ ]:
[1,2,3]+[4,5,6]

[1, 2, 3, 4, 5, 6]

In [ ]:
#Q14
import functools
list1=[[1,2,3],[4,5,6],[7,8,9]]
list(functools.reduce(lambda x,y:x+y,list1))
#x and y is first two elements of list1, so [1,2,3]+[4,5,6] will give [1,2,3,4,5,6] now this is added with [7,8,9] to give [1,2,3,4,5,6,7,8,9]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#Q15
employees = [
    {
        'fname':'Nitish',
        'lname':'Singh',
        'age' : 33,
        'grade':'skilled'
    },
    {
        'fname':'Ankit',
        'lname':'Verma',
        'age' : 34,
        'grade':'semi-skilled'
    },
    {
        'fname':'Neha',
        'lname':'Singh',
        'age' : 35,
        'grade':'highly-skilled'
    },
    {
        'fname':'Anurag',
        'lname':'Kumar',
        'age' : 30,
        'grade':'skilled'
    },
    {
        'fname':'Abhinav',
        'lname':'Sharma',
        'age' : 37,
        'grade':'highly-skilled'
    }

]
list(map(lambda x:x['fname']+' '+x['lname'],list(filter(lambda x:x['grade']=='highly-skilled',employees))))

['Neha Singh', 'Abhinav Sharma']

In [ ]:
l1=[-2,4,7,-1,6,-11,14,3,-1,-6]
den1=[]
den2=[]
for i in range(len(l1)):
  den=[]
  for j in range(i,len(l1)):
    den.append(l1[j])
    den2.append(den)
    print(den,sum(den))

#As we can see here when den gets appeneded in every loop and becomes different each time

[-2] -2
[-2, 4] 2
[-2, 4, 7] 9
[-2, 4, 7, -1] 8
[-2, 4, 7, -1, 6] 14
[-2, 4, 7, -1, 6, -11] 3
[-2, 4, 7, -1, 6, -11, 14] 17
[-2, 4, 7, -1, 6, -11, 14, 3] 20
[-2, 4, 7, -1, 6, -11, 14, 3, -1] 19
[-2, 4, 7, -1, 6, -11, 14, 3, -1, -6] 13
[4] 4
[4, 7] 11
[4, 7, -1] 10
[4, 7, -1, 6] 16
[4, 7, -1, 6, -11] 5
[4, 7, -1, 6, -11, 14] 19
[4, 7, -1, 6, -11, 14, 3] 22
[4, 7, -1, 6, -11, 14, 3, -1] 21
[4, 7, -1, 6, -11, 14, 3, -1, -6] 15
[7] 7
[7, -1] 6
[7, -1, 6] 12
[7, -1, 6, -11] 1
[7, -1, 6, -11, 14] 15
[7, -1, 6, -11, 14, 3] 18
[7, -1, 6, -11, 14, 3, -1] 17
[7, -1, 6, -11, 14, 3, -1, -6] 11
[-1] -1
[-1, 6] 5
[-1, 6, -11] -6
[-1, 6, -11, 14] 8
[-1, 6, -11, 14, 3] 11
[-1, 6, -11, 14, 3, -1] 10
[-1, 6, -11, 14, 3, -1, -6] 4
[6] 6
[6, -11] -5
[6, -11, 14] 9
[6, -11, 14, 3] 12
[6, -11, 14, 3, -1] 11
[6, -11, 14, 3, -1, -6] 5
[-11] -11
[-11, 14] 3
[-11, 14, 3] 6
[-11, 14, 3, -1] 5
[-11, 14, 3, -1, -6] -1
[14] 14
[14, 3] 17
[14, 3, -1] 16
[14, 3, -1, -6] 10
[3] 3
[3, -1] 2
[3, -1, -6] -4
[-1] -1
[-1, -6] -7
[-6] -6

In [ ]:
a1=[]
a2=[]
for i in range(1,20):
  a1.append(i)
  a2.append(a1)
  print(a1,a2)
#a2.append(a1) here we are directly passing a1 to a2(here a1 is a reference to a2), so any change in a1 will get reflected in a2
#thus when a1 is incremented in the second loop ,it will get reflected in both the items of a2, again in the third loop a1 gets inremented with 3
#and this change is now appeneded to all the three items

[1] [[1]]
[1, 2] [[1, 2], [1, 2]]
[1, 2, 3] [[1, 2, 3], [1, 2, 3], [1, 2, 3]]
[1, 2, 3, 4] [[1, 2, 3, 4], [1, 2, 3, 4], [1, 2, 3, 4], [1, 2, 3, 4]]
[1, 2, 3, 4, 5] [[1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5]]
[1, 2, 3, 4, 5, 6] [[1, 2, 3, 4, 5, 6], [1, 2, 3, 4, 5, 6], [1, 2, 3, 4, 5, 6], [1, 2, 3, 4, 5, 6], [1, 2, 3, 4, 5, 6], [1, 2, 3, 4, 5, 6]]
[1, 2, 3, 4, 5, 6, 7] [[1, 2, 3, 4, 5, 6, 7], [1, 2, 3, 4, 5, 6, 7], [1, 2, 3, 4, 5, 6, 7], [1, 2, 3, 4, 5, 6, 7], [1, 2, 3, 4, 5, 6, 7], [1, 2, 3, 4, 5, 6, 7], [1, 2, 3, 4, 5, 6, 7]]
[1, 2, 3, 4, 5, 6, 7, 8] [[1, 2, 3, 4, 5, 6, 7, 8], [1, 2, 3, 4, 5, 6, 7, 8], [1, 2, 3, 4, 5, 6, 7, 8], [1, 2, 3, 4, 5, 6, 7, 8], [1, 2, 3, 4, 5, 6, 7, 8], [1, 2, 3, 4, 5, 6, 7, 8], [1, 2, 3, 4, 5, 6, 7, 8], [1, 2, 3, 4, 5, 6, 7, 8]]
[1, 2, 3, 4, 5, 6, 7, 8, 9] [[1, 2, 3, 4, 5, 6, 7, 8, 9], [1, 2, 3, 4, 5, 6, 7, 8, 9], [1, 2, 3, 4, 5, 6, 7, 8, 9], [1, 2, 3, 4, 5, 6, 7, 8, 9], [1, 2, 3, 4, 5, 6, 7, 8, 9], [1, 2, 3, 4, 5, 6, 7, 8, 9], [1, 2, 3, 4, 5, 6, 7, 8, 9], [1, 2, 3, 4, 5, 6, 7, 8, 9], [1, 2, 3, 4, 5, 6, 7, 8, 9]]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10] [[1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11] [[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] [[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13] [[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14] [[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15] [[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16] [[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17] [[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18] [[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19] [[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]]

In [ ]:
print(den2)

[[-2, 4, 7, -1, 6, -11, 14, 3, -1, -6], [-2, 4, 7, -1, 6, -11, 14, 3, -1, -6], [-2, 4, 7, -1, 6, -11, 14, 3, -1, -6], [-2, 4, 7, -1, 6, -11, 14, 3, -1, -6], [-2, 4, 7, -1, 6, -11, 14, 3, -1, -6], [-2, 4, 7, -1, 6, -11, 14, 3, -1, -6], [-2, 4, 7, -1, 6, -11, 14, 3, -1, -6], [-2, 4, 7, -1, 6, -11, 14, 3, -1, -6], [-2, 4, 7, -1, 6, -11, 14, 3, -1, -6], [-2, 4, 7, -1, 6, -11, 14, 3, -1, -6], [4, 7, -1, 6, -11, 14, 3, -1, -6], [4, 7, -1, 6, -11, 14, 3, -1, -6], [4, 7, -1, 6, -11, 14, 3, -1, -6], [4, 7, -1, 6, -11, 14, 3, -1, -6], [4, 7, -1, 6, -11, 14, 3, -1, -6], [4, 7, -1, 6, -11, 14, 3, -1, -6], [4, 7, -1, 6, -11, 14, 3, -1, -6], [4, 7, -1, 6, -11, 14, 3, -1, -6], [4, 7, -1, 6, -11, 14, 3, -1, -6], [7, -1, 6, -11, 14, 3, -1, -6], [7, -1, 6, -11, 14, 3, -1, -6], [7, -1, 6, -11, 14, 3, -1, -6], [7, -1, 6, -11, 14, 3, -1, -6], [7, -1, 6, -11, 14, 3, -1, -6], [7, -1, 6, -11, 14, 3, -1, -6], [7, -1, 6, -11, 14, 3, -1, -6], [7, -1, 6, -11, 14, 3, -1, -6], [-1, 6, -11, 14, 3, -1, -6], [-1, 6, -11, 14, 3, -1, -6], [-1, 6, -11, 14, 3, -1, -6], [-1, 6, -11, 14, 3, -1, -6], [-1, 6, -11, 14, 3, -1, -6], [-1, 6, -11, 14, 3, -1, -6], [-1, 6, -11, 14, 3, -1, -6], [6, -11, 14, 3, -1, -6], [6, -11, 14, 3, -1, -6], [6, -11, 14, 3, -1, -6], [6, -11, 14, 3, -1, -6], [6, -11, 14, 3, -1, -6], [6, -11, 14, 3, -1, -6], [-11, 14, 3, -1, -6], [-11, 14, 3, -1, -6], [-11, 14, 3, -1, -6], [-11, 14, 3, -1, -6], [-11, 14, 3, -1, -6], [14, 3, -1, -6], [14, 3, -1, -6], [14, 3, -1, -6], [14, 3, -1, -6], [3, -1, -6], [3, -1, -6], [3, -1, -6], [-1, -6], [-1, -6], [-6]]

In [ ]:
a1=[]
a2=[]
for i in range(1,5):
  a1.append(i)
  a3=a1.copy()
  a2.append(a3)
  print(a1,a2)
#in order to remove the reference of a1, we can use copy() method
#a2.append(a1) is passing of reference to a2 hence any change in a1 will be reflected to each items of a2
#on the other hand a2.append(a1.copy()) is actual just a copy of a1 , when you do a1.copy(), a new list is created each time and is appened to a2, we don't have any reference to
#a1,hence any change in a1 list will not be applied to each item of a2

[1] [[1]]
[1, 2] [[1], [1, 2]]
[1, 2, 3] [[1], [1, 2], [1, 2, 3]]
[1, 2, 3, 4] [[1], [1, 2], [1, 2, 3], [1, 2, 3, 4]]

In [ ]:
l1=[-2,4,7,-1,6,-11,14,3,-1,-6]
den1=[]
den3=[]
for i in range(len(l1)):
  den=[]
  for j in range(i,len(l1)):
    den.append(l1[j])
    den1.append(den.copy())
    den3.append(sum(den))
print(den1[den3.index(max(den3))])
#This is one way of finding the maximum value subset

[4, 7, -1, 6, -11, 14, 3]

In [ ]:
l1=[-2,4,7,-1,6,-11,14,3,-1,-6]
d3={}
for i in range(len(l1)):
  den=[]
  for j in range(i,len(l1)):
    den.append(l1[j])
    d12=den.copy()
    d3[sum(d12)]=d12
print(type(d3.keys()))
print(d3.keys())
print(list(d3.keys()))
print(max(list(d3.keys())))
print(d3)

<class 'dict_keys'>
dict_keys([-2, 2, 9, 8, 14, 3, 17, 20, 19, 13, 4, 11, 10, 16, 5, 22, 21, 15, 7, 6, 12, 1, 18, -1, -6, -5, -11, -4, -7])
[-2, 2, 9, 8, 14, 3, 17, 20, 19, 13, 4, 11, 10, 16, 5, 22, 21, 15, 7, 6, 12, 1, 18, -1, -6, -5, -11, -4, -7]

TypeError: ignored

In [ ]:
# Sample dictionary
my_dict = {'a': 10, 'b': 20, 'c': 30, 'd': 5}

# Find the maximum key using max() and keys()
max_key = max(my_dict.keys())

print("Maximum Key:", max_key)

TypeError: ignored

In [ ]:
a1=[1,2,3,4]
print(max(a1))

TypeError: ignored

In [ ]:
a1=(1,2,3,4)
k=max(a1)
print(k)

TypeError: ignored

In [ ]:
l1=[-2,4,7,-1,6,-11,14,3,-1,-6]
def max_subarray_sum(arr):
  max_so_far=max_ending=l1[0]
  start=end=0
  new_start=0
  for i in range(1,len(l1)):
    if arr[i]>max_ending+arr[i]:
      new_start=i
      max_ending=arr[i]
    else:
      max_ending+=arr[i]
    if max_ending>max_so_far:
      max_so_far=max_ending
      start=new_start
      end=i
  return max_so_far,arr[start:end+1]
max_subarray_sum(l1)

(22, [4, 7, -1, 6, -11, 14, 3])

In [ ]:
l1=[-2,4,7,-1,6,-11,14,3,-1,-6]
def max_subarray_sum(arr):
  max_ending=max_so_far=arr[0]
  start=end=0
  new_start=0
  for i in range(1,len(arr)):
    if arr[i]>max_ending+arr[i]:
      new_start=i
      max_ending=arr[i]
    else:
      max_ending+=a[i]
    if max_ending>max_so_far:
      max_so_far=max_ending
      start=new_start
      end=i
  return max_so_far,arr[start:end+1]
#if current greater than sum of all previous+current then max_ending will become arr[i] and new_start will become i
#else max_ending gets incremented by current element
#if max_ending is greater than max_so_far then max_so_far is equated with max_ending, start is equated with new_start and end is replaced with i(current value of i)
#initially max_ending-max_so_far=-2, as arr[1](4)>-2+4 or 4>2 so new_start=1,max_ending=4, now 4>-2 so max_so_far=4,start=1,end=1
#i=2 arr[2]>4+7(false) so max_ending=1, 11>7 so max_so_far=11,start=1,end=2
#i=3 arr[3]>11+(-1)(false) so max_ending=10 and 10>11 is false
#i=4 arr[4]>10+6(false) so max_ending=16 and 16>11 so max_so_far becomes 16,start=1,end=4
#i=5 arr[5]>16+(-11)(false) so max_ending=5 and 5>16 false
#i=6 arr[6]>5+14(false) so max_ending=19, as 19>16 so max_so_far=19,start=1,end=6
#i=7 arr[7]>19+3(false) so max_ending=22 as 22>19 so max_so_far=22,start=1,end=7
#i=8 arr[8]>22+(-1)false so max_ending=21 as 21>22(false)
#i=9 arr[9]>21+(-6) false so max_ending=15 as 15>22(false)
#Hence at the end max_so_far is returned along with max sub array in the form arr[start:end+1]

In [ ]:
#This is kadane's algorithm to reduce time complexity from O(n^2) to O(n)
l1=[-2,4,7,-1,6,-11,14,3,-1,-6]
def max_subarray(arr):
  max_so_far=max_ending=arr[0]
  new_start=0
  start=end=0
  for i in range(1,len(arr)):
    if arr[i]>max_ending+arr[i]:
      max_ending=arr[i]
      new_start=i
    else:
      max_ending+=arr[i]
    if max_ending>max_so_far:
      max_so_far=max_ending
      start=new_start
      end=i
  return max_so_far,arr[start:end+1]
max_subarray(l1)

(22, [4, 7, -1, 6, -11, 14, 3])

In [ ]:
l2=[2,1,3,5,8,7,9]
def maxxer(arr):
  for i in range(1,len(arr)-1):
    flag=True
    for j in range(0,i):
      if arr[j]>arr[i]:
        flag=False
    for k in range(i+1,len(arr)):
      if arr[k]<arr[i]:
        flag=False
    if flag:
      print(arr[i])
maxxer(l2)

3
5

In [ ]:
l2=[2,1,3,5,8,7,9]
def maxr1(arr):
  for i in range(1,len(arr)-1):
    flag=True
    for j in range(0,i):
      if arr[j]>arr[i]:
        flag=False
    for k in range(i+1,len(arr)):
      if arr[k]<arr[i]:
        flag=False
    if flag:
      print(arr[i])
maxr1(l2)
#for i in range(1,len(arr)-1) here first and last element is removed and flag is True, now there will be two seperate loops for the items before a particular item and items after
#a particular item, for items before current item we will run a loop which runs from index 0 to ith index(range(0,i) means the loop runs till (i-1)st) till then if arr[i]<arr[j] then
#the respective flag is set False, now second for loop is run from i+1 to len(arr) and if arr[i]>arr[k] then flag is set to False and when we are done going through both these loops
#if flag that is if flag is True by the end of these 2 loops then we print that respective item

3
5

In [ ]:
#The time complexity of this code is O(n^2) as well as max and min function traverses through entire row as well
l2=[2,1,3,5,8,7,9]
def maxr2(arr):
  for i in range(1,len(arr)-1):
    if max(arr[:i])<arr[i]<min(arr[i+1:]):
      print(arr[i])
maxr2(l2)
#The above has a time complexity of O(n^2) hence to to reduce time complexity, we folllow this method, we run a loop between range(1,len(arr)-1) removing the first and the last
#element, and within each loop we find the max of arr[:i] and if max(arr[:i]) is lesser than arr[i] and min(arr[i+1:]) is greater than arr[i] then arr[i] gets printed

3
5

In [ ]:
#This code is an improvement over the above codes. The time complexity of this is O(n)
l2=[2,1,3,5,8,7,9]
max_val=l2[0]
min_val=l2[-1]
max_arr=[]
min_arr=[]
for i in range(0,len(l2)):
  if l2[i]>max_val:
    max_val=l2[i]
  max_arr.append(max_val)
print(max_arr)
for j in range(len(l2)-1,-1,-1):
  if l2[j]<min_val:
    min_val=l2[j]
  min_arr.insert(0,min_val)
print(min_arr)
for k in range(1,len(l2)-1):
  if max_arr[k-1]<l2[k]<min_arr[k+1]:
    print(l2[k])
#for the first the loop will run between 0 to len(l2),max_val is set to l2[0] and min_val is set to l2[-1].
#for first loop, if l2[i]>max_val,
#when i=0 rhen l2[i](2)<2(max_val) is false , so 2 is appended to max_arr[2], then i=1 and 1>2(false) so 2 is appended to max_arr again[2,2], then i=2 3>2(True) so max_val=3 and 3 is appened[2,2,3]
#to max_arr, now i=3 and 5>3(True) so max_val=5 and max_arr is appened to 5[2,2,3,5], now i=4 and 8>5(True) so max_val=8 and 8 is appended to max_arr[2,2,3,5,8], now i=5 7>8(false) so 8 is appened to max_arr[2,2,3,5,8,8]
#now i=6 9>8(True) so max_val=9 and 9 is appened to max_arr[2,2,3,5,8,8,9]
#now min_val=9 initially when j =6 initially 9<9(false) min_arr=[9], j=5 initially 7<9(True) so min_val=7 min_arr=[7,9],j=4 8<7(false) min_val=7 min_arr=[7,7,9]
#j=3 5<7(True) min_val=5 min_arr=[5,7,7,9],j=2 3<5(True) so min_val=3 min_arr=[3,5,7,7,9],j=1 1<3(True) so min_val=1 min_arr=[1,3,5,7,7,9], j=0 2<1(false) min_val=1 min_arr=[1,1,3,5,7,7,9]
#for k in range(1,len(l2)-1), if max_arr[k-1]<l2[k]<min_arr[k+1] then that particular l2[k] element will get printed, k will be checked between 1 and len(l2)-1
#for k=1 2<1<3(false),k=2 2<3<5(True) hence 2 gets printed,k=3 3<5<7 hence 5 gets printed,k=4 5<8<7 false,k=5 8<7<9(false), as len(l2)-1=6 so k would only run between 1 and 5

[2, 2, 3, 5, 8, 8, 9]
[1, 1, 3, 5, 7, 7, 9]
3
5

In [ ]:
def add(a, b):
    return a + b

result = add("3", "2")
print(result)
#will give error as + operator won't work between a string and int datatype(in case we pass add(3,"2")) but if we pass add("3","2") it wont give any error as both arguments are strings

32

In [ ]:
l1=[1,22,13,7,9,11,10]
s1=16
def ducker(l1,s1):
  max_so_far=max_beg=l1[0]
  new_start=0
  start=end=0
  k=[]
  s=0
  for i in range(0,len(l1)):
    if l1[i]>max_so_far+l1[i]:
      new_start=i
      max_so_far=l1[i]
    else:
      max_so_far+=l1[i]
    if max_so_far==s1:
      max_beg=max_so_far
      start=new_start
      end=i
  return max_beg,l1[start:end+1]
ducker(l1,s1)

(1, [1])

In [ ]:
l1=[1,22,13,7,9,11,10]
s1=16
d1={}
for i in range(0,len(l1)):
  der=[]
  for k in range(i,len(l1)):
    der.append(l1[k])
    d2=der.copy()
    d1[sum(d2)]=d2
if s1 in d1:
  print(d1[s1])

[7, 9]

In [ ]:
#in operator(membership operator) used with dictionary or sets have the time-complexity of the order of 1
l1=[1,22,13,7,9,11,10]
s1=35
curr_sum=0
d={}
for i in range(0,len(l1)):
  curr_sum+=l1[i]
  if (curr_sum-s1) in d:
    print(d[curr_sum-s1]+1,i)
    break
  d[curr_sum]=i
#when i=0 curr_Sum=1 and as -34 is not present in d so d={1:0}, when i=1 curr_sum=23 and as -12 is not present in d so d[23]=1 d={1:0,23:1}, when i=2 curr_sum=36 and 36-35=1 which
#is present in dictionary so 2 3 gets printed

1 2

In [ ]:
l1=[1,22,13,7,9,11,10]
s1=21
curr_sum=0
d1={}

for i in range(0,len(l1)):
  curr_sum+=l1[i]
  if (curr_sum-s1) in d1:
    print(d1[curr_sum-s1]+1,i)
    break
  d1[curr_sum]=i
#when i=0,curr_sum=1,as (curr_sum-s1) -30 is not in d1 so d1[1]=0 {1:0}, when i=1 curr_sum=23 (23-21)=2 not in d1 so d1={1:0,23:1}, when i=2 curr_sum=36 then 36-21 not in d1 so
#d1{36}=2 so d1={1:0,23:1,36:2}, when i=3 curr_sum=43 then 43-21=22 and 22 not in d1 so d1={1:0,23:1,36:2,43:3}, when i=4 curr_sum=52 and 52-21=31 which is not in d1 so d1[52]=4
#{1:0,23:1,36:2,43:3,52:4}, when i=5 curr_sum=63 so d1[63]=5 so d1={1:0,23:1,36:2,43:3,52:4,63:5}, when i=6 curr_sum=73 and 73-21=52 which is there in dictionary so 5 and 6 gets printed

5 6

In [ ]:
#finding intersection of 2 sorted array
a=[1,2,3,4,5,8]
b=[3,6,7,8]
c=[i for i in a if i in b]
print(c)

[3, 8]

In [ ]:
a=[1,2,3,4,5,8]
b=[3,6,7,8]
for i in a:
  if i in b:
    print(i)
#In lists,strings and tuples, the membership operator(in operator) acts like a for loop too of the order of n so total time complexity is O(n^2)

3
8

In [ ]:
a=[1,2,3,4,5,8]
b=[3,6,7,8]
i=j=0
while i<len(a) and j<len(b):
  if a[i]==b[j]:
    print(a[i])
    i+=1
    j+=1
  elif a[i]>b[j]:
    j+=1
  else:
    i+=1
#This process will work only for sorted arrays

3
8

In [ ]:
a=[1,2,3,4,5,8]
b=[3,6,7,8]
i=j=0
while i<len(a) and j<len(b):
  if a[i]==b[j]:
    print(a[i])
    i+=1
    j+=1
  elif a[i]>b[j]:
    j+=1
  else:
    i+=1
#when two items are the same then indexes of both arrays are incremented else the index of array containing smaller item will be incremented, this will continue until i is lesser than
#len(a) and j is lesser than len(b)

3
8

In [ ]:
l1=[1,2,3,4,5]
rotate=2
l2=[]
for i in range(rotate):
  temp=l1[0]
  for j in range(len(l1)-1):
    l2[j]=l1[j+1]
  l2.append(temp)
print(l2)

IndexError: ignored

In [ ]:
l1 = [1, 2, 3, 4, 5]
rotate = 2
l2 = []

for i in range(rotate):
    temp = l1[0]
    l2 = []  # Clear l2 in each iteration to start fresh
    for j in range(len(l1) - 1):
        l2.append(l1[j + 1])
    l2.append(temp)

print(l2)

[2, 3, 4, 5, 1]

In [ ]:
l1=[1,2,3,4,5]
rotate=2
l2=[]
for i in range(rotate):
  temp=l1[0]
  for j in range(len(l1)-1):
    l2.append(l1[j+1])
  l2.append(temp)
print(l2)
#when i=0
#j=0, 2 is appended to l2=[2]
#j=1, 3 is appended to l2=[2,3]
#j=2, 4 is appended to l2=[2,3,4]
#j=3, 5 is appended to l2=[2,3,4,5]
#first j loop gets over after j=3
#1 is appened to l2=[2,3,4,5,1]
#when i=1
#j=0, 2 is appended to l2=[2,3,4,5,1,2]
#j=1, 3 is appended to l2=[2,3,4,5,1,2,3]
#j=2, 4 is appended to l2=[2,3,4,5,1,2,3,4]
#j=3, 5 is appended to l2=[2,3,4,5,1,2,3,4,5]
#second j loop gets over after j=3
#1 is appended to l2=[2,3,4,5,1,2,3,4,5,1]

[2, 3, 4, 5, 1, 2, 3, 4, 5, 1]

In [ ]:
l1=[1,2,3,4,5]
rotate=2
l2=[]
for i in range(rotate):
  temp=l1[0]
  for j in range(len(l1)-1):
    l2[j]=l1[j+1]
  l2.append(temp)
print(l2)
#This would give out of range error as you are trying to assign values with respect to indices that don't exist so assigning values to l2 with respect to indices would give error

In [ ]:
l1=[1,2,3,4,5]
rotate=2
for i in range(rotate):
  temp=l1[0]
  for j in range(len(l1)-1):
    l1[j]=l1[j+1]
  l1.append(temp)
print(l1)
#i--0,1
#j--0,1,2,3
#temp=1, j=0 l1[0]=l1[1](2) l1=[2,2,3,4,5]
#j=1 l1[1]=l1[2](3) l1=[2,3,3,4,5]
#j=2 l1[2]=l1[3](4) l1=[2,3,4,4,5]
#j=3 l1[3]=l1[4](5) l1=[2,3,4,5,5]
#j ends l1=[2,3,4,5,5,1]
#i=1 temp=2
# j--0,1,2,3,4
#j=0 l1[0]=l1[1](3) l1=[3,3,4,5,5,1]
#j=1 l1[1]=l1[2](4) l1=[3,4,4,5,5,1]
#j=2 l1[2]=l1[3](5) l1=[3,4,5,5,5,1]
#j=3 l1[3]=l1[4](5) l1=[3,4,5,5,5,1]
#j=4 l1[4]=l1[5](1) l1=[3,4,5,5,1,1]
#j ends temp is appended l1=[3,4,5,5,1,1,2]
#As you can see that appending literally adds more elements to the list, hence what we get out of appending is not rotated list

[3, 4, 5, 5, 1, 1, 2]

In [ ]:
l1=[1,2,3,4,5]
rotate=2
for i in range(rotate):
  temp=l1[0]
  for j in range(len(l1)-1):
    l1[j]=l1[j+1]
  l1[len(l1)-1]=temp
print(l1)

[3, 4, 5, 1, 2]

In [ ]:
l1=[1,2,3,4,5]
rotate=2
l1=l1[rotate:]+l1[:rotate]
print(l1)

[3, 4, 5, 1, 2]

In [ ]:
#find duplicates
l1=[1,1,2,3,4,4,5,5]
d1={}
for i in l1:
  if i in d1:
    d1[i]+=1
  else:
    d1[i]=1
[i for i in d1 if d1[i]>1]

[1, 4, 5]

In [ ]:
l1=[1,1,2,3,4,4,5,5,6,6,6,7,7,7,7,8,8,8,8,9,9]
d1={}
for i in l1:
  if i in d1:
    d1[i]+=1
  else:
    d1[i]=1
print(d1)
[i for i in d1 if d1[i]==2][0]

{1: 2, 2: 1, 3: 1, 4: 2, 5: 2, 6: 3, 7: 4, 8: 4, 9: 2}

1

In [ ]:
#find min/max in a given array
l1=[21,1,34,23,54,11,10]
max1=l1[0]
min=l1[0]
for i in l1:
  if i>max1:
    max1=i
  if i<min:
    min=i
print(max1,min)

54 1

In [ ]:
#check if an array is sorted
l1=[1,2,3,4,5]
flag=True
for i in range(len(l1)-1):
  if l1[i]>l1[i+1]:
    flag=False
if flag:
  print("sorted")
else:
  print("not printed")
#if at any point l1[i]>li[i+1] then flag is set to False, if l1[i]>l1[i+1] at any point then not sorted else sorted

sorted

In [ ]:
#Find the kth largest/smallest item from the list
l1=[12,23,1,4,56,34,22,3]
k=4
l1.sort()
l1[k-1]
#3rd smallest

12

In [ ]:
#3rd largest
k=3
l1.sort(reverse=True)
l1[k-1]
#3rd largest
# l1

23

In [ ]:
l1=[0, 1, 0, 1, 1, 0, 0, 1, 0]
l1.sort()
l1

[0, 0, 0, 0, 0, 1, 1, 1, 1]

In [ ]:
l1=[-20,-21,-23,4,5,11,111,22,24,-33,33,-21,-40,40,30,-60,65,71]
l1.sort(reverse=True)
l1

[111, 71, 65, 40, 33, 30, 24, 22, 11, 5, 4, -20, -21, -21, -23, -33, -40, -60]

In [ ]:
# 13. Maximum Product Subarray
l1=[-2,4,7,-1,6,-11,14,3,-1,-6]
def kumma(l1):
  max_so_far=max_ending=l1[0]
  new_start=0
  start=end=0
  for i in range(len(l1)):
    if l1[i]>max_ending*l1[i]:
      max_ending=l1[i]
      new_start=i
    else:
      max_ending*=l1[i]
    if max_ending>max_so_far:
      max_so_far=max_ending
      start=new_start
      end=i
  return max_so_far,l1[start:end+1]
kumma(l1)

(112, [-2, 4, 7])

In [ ]:
from functools import reduce
l1=[-2,4,7,-1,6,-11,14,3,-1,-6]
def multiply(x,y):
  return x*y
def kmn(l1):
  d1={}
  for i in range(len(l1)):
    d2=[]
    for j in range(i,len(l1)):
      d2.append(l1[j])
      d3=d2.copy()
      prod=reduce(multiply,d3)
      print(prod,d3)
kmn(l1)

-2 [-2]
-8 [-2, 4]
-56 [-2, 4, 7]
56 [-2, 4, 7, -1]
336 [-2, 4, 7, -1, 6]
-3696 [-2, 4, 7, -1, 6, -11]
-51744 [-2, 4, 7, -1, 6, -11, 14]
-155232 [-2, 4, 7, -1, 6, -11, 14, 3]
155232 [-2, 4, 7, -1, 6, -11, 14, 3, -1]
-931392 [-2, 4, 7, -1, 6, -11, 14, 3, -1, -6]
4 [4]
28 [4, 7]
-28 [4, 7, -1]
-168 [4, 7, -1, 6]
1848 [4, 7, -1, 6, -11]
25872 [4, 7, -1, 6, -11, 14]
77616 [4, 7, -1, 6, -11, 14, 3]
-77616 [4, 7, -1, 6, -11, 14, 3, -1]
465696 [4, 7, -1, 6, -11, 14, 3, -1, -6]
7 [7]
-7 [7, -1]
-42 [7, -1, 6]
462 [7, -1, 6, -11]
6468 [7, -1, 6, -11, 14]
19404 [7, -1, 6, -11, 14, 3]
-19404 [7, -1, 6, -11, 14, 3, -1]
116424 [7, -1, 6, -11, 14, 3, -1, -6]
-1 [-1]
-6 [-1, 6]
66 [-1, 6, -11]
924 [-1, 6, -11, 14]
2772 [-1, 6, -11, 14, 3]
-2772 [-1, 6, -11, 14, 3, -1]
16632 [-1, 6, -11, 14, 3, -1, -6]
6 [6]
-66 [6, -11]
-924 [6, -11, 14]
-2772 [6, -11, 14, 3]
2772 [6, -11, 14, 3, -1]
-16632 [6, -11, 14, 3, -1, -6]
-11 [-11]
-154 [-11, 14]
-462 [-11, 14, 3]
462 [-11, 14, 3, -1]
-2772 [-11, 14, 3, -1, -6]
14 [14]
42 [14, 3]
-42 [14, 3, -1]
252 [14, 3, -1, -6]
3 [3]
-3 [3, -1]
18 [3, -1, -6]
-1 [-1]
6 [-1, -6]
-6 [-6]

In [ ]:
d11=[1,2,3]
print

In [ ]:
from functools import reduce

l1 = [-2, 4, 7, -1, 6, -11, 14, 3, -1, -6]

def multiply(x, y):
    return x * y

def kmn(l1):
    d1 = {}
    for i in range(len(l1)):
        d2 = []
        for j in range(i, len(l1)):
            d2.append(l1[j])
            d3 = d2.copy()
            prod = reduce(multiply, d3)
            d1[prod] = d3
    max_key_value = max(d1.keys())
    return d1[max_key_value]

max_product = kmn(l1)
print(max_product)

[4, 7, -1, 6, -11, 14, 3, -1, -6]

In [ ]:
del max

NameError: ignored

In [ ]:
#union of 2 arrays
a1=[1,2,3,4]
b1=[3,4,5,6]
a34=set(a1).union(b1)
print(list(a34))

[1, 2, 3, 4, 5, 6]

In [ ]:
a1=[3,4,5,12,13,8,15,17,19,20,21,23,34,56,71]
for i in range(0,len(a1),3):
  for j in range(i-3,i):
    print(a1[j])

34
56
71
3
4
5
12
13
8
15
17
19
20
21
23

In [ ]:
arr = [3, 4, 5, 12, 13, 8, 15, 17, 19, 20, 21, 23, 34, 56, 71]

def is_pythagorean_triplet(a, b, c):
    return a ** 2 + b ** 2 == c ** 2

def find_pythagorean_triplets(arr):
    triplets = []

    for i in range(len(arr)):
        for j in range(i + 1, len(arr)):
            for k in range(j + 1, len(arr)):
                if is_pythagorean_triplet(arr[i], arr[j], arr[k]):
                    triplets.append((arr[i], arr[j], arr[k]))

    return triplets

pythagorean_triplets = find_pythagorean_triplets(arr)
print("Pythagorean Triplets:", pythagorean_triplets)

Pythagorean Triplets: [(3, 4, 5), (5, 12, 13), (8, 15, 17)]

In [ ]:
arr = [3, 4, 5, 12, 13, 8, 15, 17, 19, 20, 21, 23, 34, 56, 71]

def is_pythagorean_triplet(a, b, c):
    return a ** 2 + b ** 2 == c ** 2

def find_pythagorean_triplets(arr):
    triplets = []

    for i in range(len(arr)):
        for j in range(i + 1, len(arr)):
            for k in range(j + 1, len(arr)):
                if is_pythagorean_triplet(arr[i], arr[j], arr[k]):
                    triplets.append((arr[i], arr[j], arr[k]))

    return triplets

In [ ]:
a11=[3, 4, 5, 12, 13, 8, 15, 17, 19, 20, 21, 23, 34, 56, 71]
for i in range(len(a11)):
  for j in range(i+1,len(a1)):
    for k in range(j+1,len(a1)):
      print(a11[i],a11[j],a11[k])

3 4 5
3 4 12
3 4 13
3 4 8
3 4 15
3 4 17
3 4 19
3 4 20
3 4 21
3 4 23
3 4 34
3 4 56
3 4 71
3 5 12
3 5 13
3 5 8
3 5 15
3 5 17
3 5 19
3 5 20
3 5 21
3 5 23
3 5 34
3 5 56
3 5 71
3 12 13
3 12 8
3 12 15
3 12 17
3 12 19
3 12 20
3 12 21
3 12 23
3 12 34
3 12 56
3 12 71
3 13 8
3 13 15
3 13 17
3 13 19
3 13 20
3 13 21
3 13 23
3 13 34
3 13 56
3 13 71
3 8 15
3 8 17
3 8 19
3 8 20
3 8 21
3 8 23
3 8 34
3 8 56
3 8 71
3 15 17
3 15 19
3 15 20
3 15 21
3 15 23
3 15 34
3 15 56
3 15 71
3 17 19
3 17 20
3 17 21
3 17 23
3 17 34
3 17 56
3 17 71
3 19 20
3 19 21
3 19 23
3 19 34
3 19 56
3 19 71
3 20 21
3 20 23
3 20 34
3 20 56
3 20 71
3 21 23
3 21 34
3 21 56
3 21 71
3 23 34
3 23 56
3 23 71
3 34 56
3 34 71
3 56 71
4 5 12
4 5 13
4 5 8
4 5 15
4 5 17
4 5 19
4 5 20
4 5 21
4 5 23
4 5 34
4 5 56
4 5 71
4 12 13
4 12 8
4 12 15
4 12 17
4 12 19
4 12 20
4 12 21
4 12 23
4 12 34
4 12 56
4 12 71
4 13 8
4 13 15
4 13 17
4 13 19
4 13 20
4 13 21
4 13 23
4 13 34
4 13 56
4 13 71
4 8 15
4 8 17
4 8 19
4 8 20
4 8 21
4 8 23
4 8 34
4 8 56
4 8 71
4 15 17
4 15 19
4 15 20
4 15 21
4 15 23
4 15 34
4 15 56
4 15 71
4 17 19
4 17 20
4 17 21
4 17 23
4 17 34
4 17 56
4 17 71
4 19 20
4 19 21
4 19 23
4 19 34
4 19 56
4 19 71
4 20 21
4 20 23
4 20 34
4 20 56
4 20 71
4 21 23
4 21 34
4 21 56
4 21 71
4 23 34
4 23 56
4 23 71
4 34 56
4 34 71
4 56 71
5 12 13
5 12 8
5 12 15
5 12 17
5 12 19
5 12 20
5 12 21
5 12 23
5 12 34
5 12 56
5 12 71
5 13 8
5 13 15
5 13 17
5 13 19
5 13 20
5 13 21
5 13 23
5 13 34
5 13 56
5 13 71
5 8 15
5 8 17
5 8 19
5 8 20
5 8 21
5 8 23
5 8 34
5 8 56
5 8 71
5 15 17
5 15 19
5 15 20
5 15 21
5 15 23
5 15 34
5 15 56
5 15 71
5 17 19
5 17 20
5 17 21
5 17 23
5 17 34
5 17 56
5 17 71
5 19 20
5 19 21
5 19 23
5 19 34
5 19 56
5 19 71
5 20 21
5 20 23
5 20 34
5 20 56
5 20 71
5 21 23
5 21 34
5 21 56
5 21 71
5 23 34
5 23 56
5 23 71
5 34 56
5 34 71
5 56 71
12 13 8
12 13 15
12 13 17
12 13 19
12 13 20
12 13 21
12 13 23
12 13 34
12 13 56
12 13 71
12 8 15
12 8 17
12 8 19
12 8 20
12 8 21
12 8 23
12 8 34
12 8 56
12 8 71
12 15 17
12 15 19
12 15 20
12 15 21
12 15 23
12 15 34
12 15 56
12 15 71
12 17 19
12 17 20
12 17 21
12 17 23
12 17 34
12 17 56
12 17 71
12 19 20
12 19 21
12 19 23
12 19 34
12 19 56
12 19 71
12 20 21
12 20 23
12 20 34
12 20 56
12 20 71
12 21 23
12 21 34
12 21 56
12 21 71
12 23 34
12 23 56
12 23 71
12 34 56
12 34 71
12 56 71
13 8 15
13 8 17
13 8 19
13 8 20
13 8 21
13 8 23
13 8 34
13 8 56
13 8 71
13 15 17
13 15 19
13 15 20
13 15 21
13 15 23
13 15 34
13 15 56
13 15 71
13 17 19
13 17 20
13 17 21
13 17 23
13 17 34
13 17 56
13 17 71
13 19 20
13 19 21
13 19 23
13 19 34
13 19 56
13 19 71
13 20 21
13 20 23
13 20 34
13 20 56
13 20 71
13 21 23
13 21 34
13 21 56
13 21 71
13 23 34
13 23 56
13 23 71
13 34 56
13 34 71
13 56 71
8 15 17
8 15 19
8 15 20
8 15 21
8 15 23
8 15 34
8 15 56
8 15 71
8 17 19
8 17 20
8 17 21
8 17 23
8 17 34
8 17 56
8 17 71
8 19 20
8 19 21
8 19 23
8 19 34
8 19 56
8 19 71
8 20 21
8 20 23
8 20 34
8 20 56
8 20 71
8 21 23
8 21 34
8 21 56
8 21 71
8 23 34
8 23 56
8 23 71
8 34 56
8 34 71
8 56 71
15 17 19
15 17 20
15 17 21
15 17 23
15 17 34
15 17 56
15 17 71
15 19 20
15 19 21
15 19 23
15 19 34
15 19 56
15 19 71
15 20 21
15 20 23
15 20 34
15 20 56
15 20 71
15 21 23
15 21 34
15 21 56
15 21 71
15 23 34
15 23 56
15 23 71
15 34 56
15 34 71
15 56 71
17 19 20
17 19 21
17 19 23
17 19 34
17 19 56
17 19 71
17 20 21
17 20 23
17 20 34
17 20 56
17 20 71
17 21 23
17 21 34
17 21 56
17 21 71
17 23 34
17 23 56
17 23 71
17 34 56
17 34 71
17 56 71
19 20 21
19 20 23
19 20 34
19 20 56
19 20 71
19 21 23
19 21 34
19 21 56
19 21 71
19 23 34
19 23 56
19 23 71
19 34 56
19 34 71
19 56 71
20 21 23
20 21 34
20 21 56
20 21 71
20 23 34
20 23 56
20 23 71
20 34 56
20 34 71
20 56 71
21 23 34
21 23 56
21 23 71
21 34 56
21 34 71
21 56 71
23 34 56
23 34 71
23 56 71
34 56 71

In [ ]:
a11=[3, 4, 5, 12, 13, 8, 15, 17, 19, 20, 21, 23, 34, 56, 71]
for i in range(len(a11)):
  for j in range(i+1,len(a11)):
    for k in range(j+1,len(a11)):
      print(a11[i],a11[j],a11[k])
#this will pick up different items every time and all of this items will be different from each other

3 4 5
3 4 12
3 4 13
3 4 8
3 4 15
3 4 17
3 4 19
3 4 20
3 4 21
3 4 23
3 4 34
3 4 56
3 4 71
3 5 12
3 5 13
3 5 8
3 5 15
3 5 17
3 5 19
3 5 20
3 5 21
3 5 23
3 5 34
3 5 56
3 5 71
3 12 13
3 12 8
3 12 15
3 12 17
3 12 19
3 12 20
3 12 21
3 12 23
3 12 34
3 12 56
3 12 71
3 13 8
3 13 15
3 13 17
3 13 19
3 13 20
3 13 21
3 13 23
3 13 34
3 13 56
3 13 71
3 8 15
3 8 17
3 8 19
3 8 20
3 8 21
3 8 23
3 8 34
3 8 56
3 8 71
3 15 17
3 15 19
3 15 20
3 15 21
3 15 23
3 15 34
3 15 56
3 15 71
3 17 19
3 17 20
3 17 21
3 17 23
3 17 34
3 17 56
3 17 71
3 19 20
3 19 21
3 19 23
3 19 34
3 19 56
3 19 71
3 20 21
3 20 23
3 20 34
3 20 56
3 20 71
3 21 23
3 21 34
3 21 56
3 21 71
3 23 34
3 23 56
3 23 71
3 34 56
3 34 71
3 56 71
4 5 12
4 5 13
4 5 8
4 5 15
4 5 17
4 5 19
4 5 20
4 5 21
4 5 23
4 5 34
4 5 56
4 5 71
4 12 13
4 12 8
4 12 15
4 12 17
4 12 19
4 12 20
4 12 21
4 12 23
4 12 34
4 12 56
4 12 71
4 13 8
4 13 15
4 13 17
4 13 19
4 13 20
4 13 21
4 13 23
4 13 34
4 13 56
4 13 71
4 8 15
4 8 17
4 8 19
4 8 20
4 8 21
4 8 23
4 8 34
4 8 56
4 8 71
4 15 17
4 15 19
4 15 20
4 15 21
4 15 23
4 15 34
4 15 56
4 15 71
4 17 19
4 17 20
4 17 21
4 17 23
4 17 34
4 17 56
4 17 71
4 19 20
4 19 21
4 19 23
4 19 34
4 19 56
4 19 71
4 20 21
4 20 23
4 20 34
4 20 56
4 20 71
4 21 23
4 21 34
4 21 56
4 21 71
4 23 34
4 23 56
4 23 71
4 34 56
4 34 71
4 56 71
5 12 13
5 12 8
5 12 15
5 12 17
5 12 19
5 12 20
5 12 21
5 12 23
5 12 34
5 12 56
5 12 71
5 13 8
5 13 15
5 13 17
5 13 19
5 13 20
5 13 21
5 13 23
5 13 34
5 13 56
5 13 71
5 8 15
5 8 17
5 8 19
5 8 20
5 8 21
5 8 23
5 8 34
5 8 56
5 8 71
5 15 17
5 15 19
5 15 20
5 15 21
5 15 23
5 15 34
5 15 56
5 15 71
5 17 19
5 17 20
5 17 21
5 17 23
5 17 34
5 17 56
5 17 71
5 19 20
5 19 21
5 19 23
5 19 34
5 19 56
5 19 71
5 20 21
5 20 23
5 20 34
5 20 56
5 20 71
5 21 23
5 21 34
5 21 56
5 21 71
5 23 34
5 23 56
5 23 71
5 34 56
5 34 71
5 56 71
12 13 8
12 13 15
12 13 17
12 13 19
12 13 20
12 13 21
12 13 23
12 13 34
12 13 56
12 13 71
12 8 15
12 8 17
12 8 19
12 8 20
12 8 21
12 8 23
12 8 34
12 8 56
12 8 71
12 15 17
12 15 19
12 15 20
12 15 21
12 15 23
12 15 34
12 15 56
12 15 71
12 17 19
12 17 20
12 17 21
12 17 23
12 17 34
12 17 56
12 17 71
12 19 20
12 19 21
12 19 23
12 19 34
12 19 56
12 19 71
12 20 21
12 20 23
12 20 34
12 20 56
12 20 71
12 21 23
12 21 34
12 21 56
12 21 71
12 23 34
12 23 56
12 23 71
12 34 56
12 34 71
12 56 71
13 8 15
13 8 17
13 8 19
13 8 20
13 8 21
13 8 23
13 8 34
13 8 56
13 8 71
13 15 17
13 15 19
13 15 20
13 15 21
13 15 23
13 15 34
13 15 56
13 15 71
13 17 19
13 17 20
13 17 21
13 17 23
13 17 34
13 17 56
13 17 71
13 19 20
13 19 21
13 19 23
13 19 34
13 19 56
13 19 71
13 20 21
13 20 23
13 20 34
13 20 56
13 20 71
13 21 23
13 21 34
13 21 56
13 21 71
13 23 34
13 23 56
13 23 71
13 34 56
13 34 71
13 56 71
8 15 17
8 15 19
8 15 20
8 15 21
8 15 23
8 15 34
8 15 56
8 15 71
8 17 19
8 17 20
8 17 21
8 17 23
8 17 34
8 17 56
8 17 71
8 19 20
8 19 21
8 19 23
8 19 34
8 19 56
8 19 71
8 20 21
8 20 23
8 20 34
8 20 56
8 20 71
8 21 23
8 21 34
8 21 56
8 21 71
8 23 34
8 23 56
8 23 71
8 34 56
8 34 71
8 56 71
15 17 19
15 17 20
15 17 21
15 17 23
15 17 34
15 17 56
15 17 71
15 19 20
15 19 21
15 19 23
15 19 34
15 19 56
15 19 71
15 20 21
15 20 23
15 20 34
15 20 56
15 20 71
15 21 23
15 21 34
15 21 56
15 21 71
15 23 34
15 23 56
15 23 71
15 34 56
15 34 71
15 56 71
17 19 20
17 19 21
17 19 23
17 19 34
17 19 56
17 19 71
17 20 21
17 20 23
17 20 34
17 20 56
17 20 71
17 21 23
17 21 34
17 21 56
17 21 71
17 23 34
17 23 56
17 23 71
17 34 56
17 34 71
17 56 71
19 20 21
19 20 23
19 20 34
19 20 56
19 20 71
19 21 23
19 21 34
19 21 56
19 21 71
19 23 34
19 23 56
19 23 71
19 34 56
19 34 71
19 56 71
20 21 23
20 21 34
20 21 56
20 21 71
20 23 34
20 23 56
20 23 71
20 34 56
20 34 71
20 56 71
21 23 34
21 23 56
21 23 71
21 34 56
21 34 71
21 56 71
23 34 56
23 34 71
23 56 71
34 56 71

In [ ]:
a11=[3, 4, 5, 12, 13, 8, 15, 17, 19, 20, 21, 23, 34, 56, 71]
def is_python_triplet(a,b,c):
  return a**2+b**2==c**2
triplets=[]
def phona(a11):

  for i in range(len(a11)):
    for j in range(i+1,len(a11)):
      for k in range(j+1,len(a11)):
        if is_python_triplet(a11[i],a11[j],a11[k]):
          triplets.append((a11[i],a11[j],a11[k]))
  return triplets
phona(a11)

[(3, 4, 5), (5, 12, 13), (8, 15, 17)]

In [ ]:
a=4
print(id(a))

140185598067024

In [ ]:
print(id(4))
#As you can see, a here points at the memory location where 4 is stored

140185598067024

In [ ]:
b=a
print(id(b))
#This is called allasing where more than one variable points to the same memory location when u equate the variable with the variable that points to the memory location where value
#is stored in that case as u can see both a and b points towards same memory location

140185598067024

In [ ]:
d=b
print(id(d))
#as you can see even d points towards same memory location as a and b
#advantage of allasing is memory optimization, if you have to store 4 in another variable, you don't need to write b=4 again, you can do b=a , that saves a bit of memory and hence
#contributes to memory optimization

140185598067024

In [ ]:
print(a)

4

In [ ]:
del a

In [ ]:
a

NameError: ignored

In [ ]:
b#as you can see even if a is deleted, we can still print b and c(4 gets printed) as when you delete a only reference pointing to the memory location where 4 is stored gets deleted
#in case of b and c the reference to that memory location still exists, hence 4 gets printed when we execute b or c

4

In [ ]:
#If you have to make multiple variables with the same value , we use allasing shown above in which multiple variables point to that same memory location, this helps in memory optimization

In [ ]:
#Garbage collection in Python refers to the automatic process of reclaiming memory occupied by objects that are no longer needed or referenced by the program. Python uses built-in
#garbage collector to manage memory automatically
# for instance if
a=4
b=a
c=b
#and if a,b and c is deleted using del a del b and del c then the value 4 would become a garbage value and would be deleted from the memory later on using built-in garbage collector

In [ ]:
a='DSMP125dhoni'
b=a
c=b

In [ ]:
import sys
sys.getrefcount('DSMP125dhoni')

8

In [ ]:
del c

In [ ]:
#strings are immutable, tuples are immutable, sets are mutable(contains only immutable items),dictionary is mutable but its keys are immutable
#immutables-->strings,integers,float,tuple,boolean,complex
#mutables-->list,set,dictionary

In [ ]:
my_set = {1, 2, 3, 4}
my_set.discard(5)
print(my_set)
#discard won't give error no matter what

{1, 2, 3, 4}

In [ ]:
a=[1,2,3,4]
print(id(a))
a.append(5)
print(a)
print(id(a))

132595190760896
[1, 2, 3, 4, 5]
132595190760896

In [ ]:
a=(1,2,3)
print(id(a))
a=a+(4,)
print(a)
print(id(a))
#The ability to change items while remaining in the same memory location is called mutability , as we can see from above even when we add items to list the memory location doesnot
#change hence list is mutable while tuple is immutable as u can see the moment you add one more item to the tuple, a starts pointing to a new memory location. Mutability is the ability
#of getting changed while remaining in the same memory location

132595190832448
(1, 2, 3, 4)
132594907516736

In [ ]:
a=1
print(id(a))
a=2
print(id(a))
#as you can see integer is also immutable as changing it changes the memory location at which a is pointing

132595619397872
132595619397904

In [ ]:
a="mahi"
print(id(a))
a="kabhi"
print(id(a))
#as you can see string is also immutable as changing it changes the memory location at which a is pointing

132594911998064
132595205589680

In [ ]:
def addx(data):
  data.append(4)
a=[1,2,3]
addx(a)
print(a)
#As you can see here you are able to change a global variable locally as when you pass a you are actually passing a reference to the memory location of the list [1,2,3] and when
#any change happens at that memory location, that change is reflected back to a(even though it is global variable) this is disadvantage of mutability where changes to a variable locally
#is reflected back at the global level as well

[1, 2, 3, 4]

In [ ]:
#The above disadvantage of mutability(changing global variables locally) can be solved by using tuples,here the moment you add something to atuple a new tuple gets created pointing
#at a new memory location data points at a different memory location as that of a hence the content at the memory location at which a is pointing remains intact
def addx1(data):
  data=data+(5,)
a=(1,2,3)
addx1(a)
print(a)

(1, 2, 3)

In [ ]:
#To remove the above problems we can also use cloning
def addx1(data):
  data.append(4)
a=[1,2,3]
addx1(a[:])
print(a)
#as you can see in this case when u send a[:] to data it points at a new memory location altogether and any change to data is not reflected back to a

[1, 2, 3]

In [ ]:
a=[1,2,3]
b=a[:]
a.append(4)
print(b)
print(id(a))
print(id(b))
#deep copying

[1, 2, 3]
132594281807040
132594281796160

In [ ]:
a=[1,2,3]
b=a.copy()
a.append(4)
print(b)
print(id(a))
print(id(b))
#deep copying

[1, 2, 3]
132594281807360
132594281797696

In [ ]:
import copy

original_list = [1, [2, 3]]
cloned_list = copy.copy(original_list)

# Modify a nested list in the original, affecting the clone
original_list[1][0] = 99
print(cloned_list)  # Output: [1, [99, 3]]
#shallow copying

[1, [99, 3]]

In [ ]:
#copy() works on dictionary as well

In [ ]:
a=[1,2,3,4]
b=a.copy()

In [ ]:
print(id(a))
print(id(b))

138141324803008
138141324805312

In [ ]:
print(id(a[0]))
print(id(b[0]))

138142595514608
138142595514608

In [ ]:
b[0]=99
print(b)
print(a)

[99, 2, 3, 4]
[1, 2, 3, 4]

In [1]:
a=[1,2,3,[4,5]]
b=a.copy()
a[0]=99
print(a)
print(b)

[99, 2, 3, [4, 5]]
[1, 2, 3, [4, 5]]

In [2]:
a=[1,2,3,[4,5]]
b=a.copy()
a[-1][0]=99
print(a)
print(b)
#As we can see changes made to 1D list elements is not getting updated in list b but change to items of 2D list is getting updated to list b as well

[1, 2, 3, [99, 5]]
[1, 2, 3, [99, 5]]

In [3]:
a=[1,2,3,[4,5]]
b=a.copy()
print(id(a[0]))
print(id(b[0]))

131954234048752
131954234048752

In [4]:
print(id(a[-1]))
print(id(b[-1]))

131952963459456
131952963459456

In [5]:
a[0]=912
print(id(a[0]))
print(id(b[0]))

131952964919440
131954234048752

In [6]:
a[-1]=[99,100,101]
print(id(a[-1]))
print(id(b[-1]))
print(a)
print(b)

131952963581248
131952963459456
[912, 2, 3, [99, 100, 101]]
[1, 2, 3, [4, 5]]

In [7]:
a[-1][0]=346
print(a)
print(b)

[912, 2, 3, [346, 100, 101]]
[1, 2, 3, [4, 5]]

In [8]:
a=[1,2,3,[4,5]]
b=a.copy()
b[0]=90
print(a)
print(b)

[1, 2, 3, [4, 5]]
[90, 2, 3, [4, 5]]

In [9]:
a=[1,2,3,[4,5]]
b=a.copy()
b[-1][0]=88
print(b)
print(a)
#as you can see in case of shallow copy using copy() any change within 2D list is reflected back to the original list hence as the items of the list have the same address hence to
#solve this issue we use deepcopy

[1, 2, 3, [88, 5]]
[1, 2, 3, [88, 5]]

In [13]:
import copy
a=[1,2,3,[4,5]]
b=copy.deepcopy(a)
print(b)
b[-1][0]=99
print(a)
print(b)
#as you can see here the changes in b is not reflected to a hence it is a case of deep copy where even changes in 2D list of b is not reflected back to a

[1, 2, 3, [4, 5]]
[1, 2, 3, [4, 5]]
[1, 2, 3, [99, 5]]

In [12]:
print(id(a[0]))
print(id(b[0]))
#

131954234048752
131954234048752

In [14]:
print(id(a[-1]))
print(id(b[-1]))

131952963432576
131952963435904

In [15]:
print(id(a[-2]))
print(id(b[-2]))
#as you can see the address of 2D list after deep copying is not the same in a and b
#shallow copy creates only the copy of 1D list, it doesnot create any copy of the 2D list if they happen to exist within a list, deepcopy on the other hand creates the copy of 2D,3D
#nd.....list if they happen to exist within a list

131954234048816
131954234048816

In [ ]:
#[:] this is an example of shallow copy....deep copy can be used on all datatypes

In [ ]:
#lists are referential arrays....a=[1,2,3] would lead to only memory addresses of the memory locations where 1 2 and 3 are stored to be stored consecutively one after the other in a
#memory location, consecutive memory location and although it consumes more memory it is useful as it helps the programmer to accomodate any kind of datatype if the user suddenly decides
#to add data belonging to a different datatype(string,float....)....Lists too score data in continuous memory locations but these datas are actually addresses

In [ ]:
#Storing 2D array in memory
#Explained in notebook

In [1]:
#In python lists are both referential and dynamic , dynamic meaning there length can be increased, u can add more items and even edit items without changing the memory address
#python strings are referential but not dynamic as they are anyway immutable
s="hello"
print(id(s))

140623056491632

In [2]:
print(id(s[0]))

140623480230320

In [3]:
print(id('h'))

140623480230320

In [ ]:
#Tuple is a static array, the size always remains fixed while list is dynamic array whose size can be varied at any time the moment the limit is crossed the list size is doubled
#so a list of 100 items might have space equivalent to 200 items.... Hence tuple occupies less memory compared to that of list